CURRENT SUPPORTED CHARITIES:
<br /><br />
<small>
<p><a href="http://www.msf.org.uk/" target="_blank">MEDICINE SANS FRONTIERES (DOCTORS WITHOUT BORDERS)</a></p> 
AN INTERNATIONAL NETWORK OF VOLUNTEERS, FIELD PROJECTS AND OFFICES DELIVERING EMERGENCY MEDICAL AID TO PEOPLE AFFECTED BY CONFLICT, EPIDEMICS, DISASTERS OR EXCLUDED FROM HEALTHCARE.
<br /><br />
<p><a href="http://www.restlessbeings.org/" target="_blank">RESTLESS BEINGS</a></p> 
AN INTERNATIONAL HUMANITARIAN AND HUMAN RIGHTS EFFORT THAT WORKS WITH AND SUPPORTS MARGINALISED COMMUNITIES ACRSS THE WORLD THAT ARE OFTEN DEPRIVED OF MEDIA OR PUBLIC ATTENTION.
<br /><br />
<p><a href="http://www.unicef.org.uk/" target="_blank">UNICEF</a></p>
THE WORLD'S LEADING ORGANISATION FOR CHILDREN IN OVER 190 COUNTRIES, PROVIDING LONG-TERM HUMANITARIAN AND DEVELOPMENTAL AID TO CHILDREN AND MOTHERS IN DEVELOPING COUNTRIES ALL OVER THE WORLD.