CREDITS:
<br /><br />
<small>
WEBSITE BUILD BY <u>MATEUSZ MAJEWSKI</u> OF <a href="http://studio.concretecut.pl/" target="_blank">CONCRETE CUT STUDIOS</a>. 
<p></p>
DESIGN BY <a href="http://henrymoller.co.uk" target="_blank">HENRY MOLLER</a>. 
<p></p>
LAYOUT INSPIRED BY <a href="http://publichousestudio.com/" target="_blank">PUBLIC HOUSE</a>.
<p></p>
CONTENT BY THE <a href="87s and co">87S AND CO.</a> FAMILY AND ADDITIONAL CONTRIBUTORS CREDITED ON-SITE. 
<p></p>

<a href="http://87summers.com/" target="_blank">87 SUMMERS</a>, <a href="http://justsaywhen.co.uk/" target="_blank">JUST SAY WHEN</a> & <a href="http://piecesjournal.com/" target="_blank">PIECES</a> ARE PART OF THE  <a href="87s and co">87S AND CO.</a> GROUP. 
<br /><br />
<u>87S & CO. NAME ORIGIN</u>: 87S, ABBREVIATED FROM <a href="http://87summers.com/" target="_blank">87 SUMMERS</a>, WAS THE AVERAGE NUMBER OF SUMMERS SOMEONE WOULD LIVE THROUGH IN A LIFETIME IN THE COUNTRY WITH THE HIGHEST AVERAGE LIFE EXPECTANCY, AVG. BASED ON THE SUMMER OF 2014. THE ADDITION OF '& CO.' WAS TO SEPARATE OUR PUBLISHER/ONLINE RETAILER, 87 SUMMERS, FROM OUR COLLECTIVE, NOW 87S & CO. WHICH WE DECIDED TO RUN ALL OF OUR IN-HOUSE VENTURES AND WORKS WITH BRANDS & ARTISTS THROUGH.
<br /><br />
"THERE ARE THESE TWO YOUNG FISH SWIMMING ALONG, AND THEY HAPPEN TO MEET AN OLDER FISH SWIMMING THE OTHER WAY, WHO NODS AT THEM AND SAYS, "MORNING, BOYS, HOW'S THE WATER?" AND THE TWO YOUNG FISH SWIM ON FOR A BIT, AND THEN EVENTUALLY ONE OF THEM LOOKS OVER AT THE OTHER AND GOES, "WHAT THE HELL IS WATER?" - <a href="https://en.wikipedia.org/wiki/David_Foster_Wallace" target="_blank">DAVID FOSTER WALLACE</a>, <a href="https://en.wikipedia.org/wiki/This_Is_Water" target="_blank">THIS IS WATER</a>
<br /><br />
© 2015 - NOW