<a href="/87/">AND CO. SOCIAL</a> IS AN INTIMATE CHARITY EVENT LAUNCHING SOON TO SHOWCASE NEW ART,  FILM, MUSIC & FASHION. WITH, FOR & BY GOOD PEOPLE.
<br><br>
WE BELIEVE THAT ART, IDEAS AND COLLABORATION CAN CHANGE THE WORLD. SO HERE'S TO BUILDING NEW CONNECTIONS, CREATING NEW IDEAS & FORMING LASTING RELATIONSHIPS.
<br><br>
WE SUPPORT A NUMBER OF CHARITIES THAT AID PEOPLE IN SOME OF THE MOST FAR REACHING PLACES IN THE WORLD. ALL PROFITS RAISED FROM THESE EVENTS GO TO THEM. YOU CAN SEE & READ ABOUT THE CHARITIES WE WORK WITH 
<a href="charities">HERE</a>.
<div style="margin: 0px; padding:0px; clear: both; height: 20px">
&nbsp;
</div>
<small>
	* LIMITED INVITES ARE SENT OUT PER EVENT, WE SEND OUT INVITES BASED ON WHO WE FEEL WILL ENJOY THE EXHIBIT & ENTERTAINMENT ORGANISED, IF YOU HAVEN'T BEEN SENT AN INVITE, ITS NOT BECAUSE WE DON'T LOVE YOU, WE JUST HAVE A SMALL NUMBER OF INVITES WE'RE ABLE TO BE SENT OUT PER EVENT
	<br><br>/ 
	<a href="mailto:social@87s.co">RSVP TO AN EXISTING INVITE</a> / 
	<a href="mailto:social@87s.co">REQUEST AN INVITE</a>
</small>